
/* ::::: null ::::: */

body { background-color: rgb(235, 235, 235); }
a:hover { color: rgb(102, 102, 102); text-decoration: underline; }
.style33 { font-size: 32px; }
body, td, th { font-family: Arial,Helvetica,sans-serif; }
.style34 { color: rgb(255, 0, 0); font-weight: bold; }
