
/* ::::: null ::::: */

.c { font-size: 12px; }
.c { font-family: Verdana,Geneva,sans-serif; }
.c {  }
.m { text-align: center; font-family: Verdana,Geneva,sans-serif; font-size: 12px; }
.m { font-family: Verdana,Geneva,sans-serif; }
.c { font-family: Verdana,Geneva,sans-serif; text-align: left; }
