
/* ::::: http://www.nic.ci/images/styles.css ::::: */

.section { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); font-weight: bold; }
.bodyhdr { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 13px; font-weight: bold; color: rgb(255, 102, 0); }
.bodytxt { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 100%; color: rgb(51, 51, 51); font-weight: normal; }
a:hover { color: rgb(255, 0, 0); }
a:link { color: rgb(0, 0, 255); }
a:visited { color: rgb(104, 147, 42); }
a:link {  }
a:active { color: rgb(0, 0, 255); }

/* ::::: null ::::: */

body { background-color: rgb(255, 255, 255); }
.Style1 { font-size: 12px; }

/* ::::: http://www.nic.ci/css/nic.css ::::: */

.bienvenue_admin { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; color: rgb(0, 51, 102); }
.lien { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; }

/* ::::: null ::::: */

#ulitem0z0 { float: left; }
#ulitem0z1 { float: left; }
#ulitem0z2 { float: left; }
#ulitem0z3 { float: left; }
#ulitem0z4 { float: left; }
#ulitem0z5 { float: left; }
#ulitem0z6 { float: left; }
#ulitem0z7 { float: left; }
#imcontainer10 { text-align: left; z-index: 899; position: relative; display: block; }
#imcontainer20 { position: absolute; }
#imenus0, #imenus0 ul { margin: 0px; list-style: none outside none; }
#imouter0 { text-align: left; background-color: rgb(252, 187, 93); border-style: solid; border-color: rgb(118, 155, 186); border-width: 1px; padding: 0px; }
BODY #imouter0 {  }
#imenus0 { padding: 0px; }
#imenus0 ul { background-color: rgb(237, 224, 110); border-style: solid; border-color: rgb(53, 101, 149); border-width: 1px; padding: 5px; margin: 0px; position: relative; top: 0px; left: 0px; }
BODY #imenus0 ul {  }
#imenus0 li div { position: absolute; }
#imenus0 li .imsubc { position: absolute; visibility: hidden; }
#imenus0 li.ishow li .imsubc, #imenus0 li.ishow li li .imsubc, #imenus0 li.ishow li li li .imsubc, #imenus0 li.ishow li li li li .imsubc, #imenus0 li.ishow li li li li li .imsubc, #imenus0 li.ishow li li li li li li .imsubc, #imenus0 li.ishow li li li li li li li .imsubc, #imenus0 li.ishow li li li li li li li li .imsubc, #imenus0 li.ishow li li li li li li li li li .imsubc { visibility: hidden; }
#imenus0 li.ishow .imsubc, #imenus0 li li.ishow .imsubc, #imenus0 li li li.ishow .imsubc, #imenus0 li li li li.ishow .imsubc, #imenus0 li li li li li.ishow .imsubc, #imenus0 li li li li li li.ishow .imsubc, #imenus0 li li li li li li li.ishow .imsubc, #imenus0 li li li li li li li li.ishow .imsubc, #imenus0 li li li li li li li li li.ishow .imsubc { visibility: visible; }
#imenus0, #imenus0 li { font-size: 1px; }
#imenus0, #imenus0 ul { text-decoration: none; }
#imenus0 ul li a.ihover { background-color: rgb(166, 205, 238); color: rgb(237, 224, 110); }
#imenus0 li a.ihover { background-color: rgb(237, 224, 110); color: rgb(17, 17, 17); }
#imenus0 li a.iactive { background-color: rgb(237, 224, 110); color: rgb(17, 17, 17); }
#imenus0 ul li a.iactive { background-color: rgb(0, 0, 0); color: rgb(237, 224, 110); }
#imenus0 li a.iactive div img { visibility: visible; }
#imenus0 a { display: block; position: relative; color: rgb(0, 153, 51); text-align: center; font-family: Arial; font-size: 12px; font-weight: bold; text-decoration: none; border-style: none; border-color: rgb(0, 0, 0); border-width: 0px; padding: 4px 5px 4px 12px; }
#imenus0 a img { border-width: 0px; }
BODY #imenus0 a {  }
#imenus0 ul a { display: block; color: rgb(0, 0, 0); text-align: left; font-size: 11px; font-weight: normal; text-decoration: none; border-style: none; border-color: rgb(0, 0, 0); border-width: 1px; padding: 2px 5px; }
BODY #imenus0 ul a {  }
#imenus0 li { cursor: pointer; }
#imenus0 .ulmba { position: absolute; font-size: 1px; border-style: solid; border-color: rgb(0, 0, 0); border-width: 1px; }

/* ::::: null ::::: */

#ulitem0z0 { float: left; }
#ulitem0z1 { float: left; }
#ulitem0z2 { float: left; }
#ulitem0z3 { float: left; }
#ulitem0z4 { float: left; }
#ulitem0z5 { float: left; }
#ulitem0z6 { float: left; }
#ulitem0z7 { float: left; }
#imcontainer10 { text-align: left; z-index: 899; position: relative; display: block; }
#imcontainer20 { position: absolute; }
#imenus0, #imenus0 ul { margin: 0px; list-style: none outside none; }
#imouter0 { text-align: left; background-color: rgb(252, 187, 93); border-style: solid; border-color: rgb(118, 155, 186); border-width: 1px; padding: 0px; }
BODY #imouter0 {  }
#imenus0 { padding: 0px; }
#imenus0 ul { background-color: rgb(237, 224, 110); border-style: solid; border-color: rgb(53, 101, 149); border-width: 1px; padding: 5px; margin: 0px; position: relative; top: 0px; left: 0px; }
BODY #imenus0 ul {  }
#imenus0 li div { position: absolute; }
#imenus0 li .imsubc { position: absolute; visibility: hidden; }
#imenus0 li.ishow li .imsubc, #imenus0 li.ishow li li .imsubc, #imenus0 li.ishow li li li .imsubc, #imenus0 li.ishow li li li li .imsubc, #imenus0 li.ishow li li li li li .imsubc, #imenus0 li.ishow li li li li li li .imsubc, #imenus0 li.ishow li li li li li li li .imsubc, #imenus0 li.ishow li li li li li li li li .imsubc, #imenus0 li.ishow li li li li li li li li li .imsubc { visibility: hidden; }
#imenus0 li.ishow .imsubc, #imenus0 li li.ishow .imsubc, #imenus0 li li li.ishow .imsubc, #imenus0 li li li li.ishow .imsubc, #imenus0 li li li li li.ishow .imsubc, #imenus0 li li li li li li.ishow .imsubc, #imenus0 li li li li li li li.ishow .imsubc, #imenus0 li li li li li li li li.ishow .imsubc, #imenus0 li li li li li li li li li.ishow .imsubc { visibility: visible; }
#imenus0, #imenus0 li { font-size: 1px; }
#imenus0, #imenus0 ul { text-decoration: none; }
#imenus0 ul li a.ihover { background-color: rgb(166, 205, 238); color: rgb(237, 224, 110); }
#imenus0 li a.ihover { background-color: rgb(237, 224, 110); color: rgb(17, 17, 17); }
#imenus0 li a.iactive { background-color: rgb(237, 224, 110); color: rgb(17, 17, 17); }
#imenus0 ul li a.iactive { background-color: rgb(0, 0, 0); color: rgb(237, 224, 110); }
#imenus0 li a.iactive div img { visibility: visible; }
#imenus0 a { display: block; position: relative; color: rgb(0, 153, 51); text-align: center; font-family: Arial; font-size: 12px; font-weight: bold; text-decoration: none; border-style: none; border-color: rgb(0, 0, 0); border-width: 0px; padding: 4px 5px 4px 12px; }
#imenus0 a img { border-width: 0px; }
BODY #imenus0 a {  }
#imenus0 ul a { display: block; color: rgb(0, 0, 0); text-align: left; font-size: 11px; font-weight: normal; text-decoration: none; border-style: none; border-color: rgb(0, 0, 0); border-width: 1px; padding: 2px 5px; }
BODY #imenus0 ul a {  }
#imenus0 li { cursor: pointer; }
#imenus0 .ulmba { position: absolute; font-size: 1px; border-style: solid; border-color: rgb(0, 0, 0); border-width: 1px; }
