
/* ::::: null ::::: */

html { margin: 0px; padding: 0px; font: 11px/18px "Helvetica Neue",Arial,sans-serif; color: rgb(51, 51, 51); -moz-user-select: none; }
body { margin: 0px; padding: 0px; background: transparent none repeat scroll 0px 0px; }
a { outline: 0px none; text-decoration: none; }
body.rtl { direction: rtl; }
#widget { display: inline-block; white-space: nowrap; overflow: hidden; text-align: left; }
#count, .btn, .btn .label, .btn-o, .count-o { display: inline-block; vertical-align: top; }
.btn-o { max-width: 100%; }
.btn { position: relative; height: 20px; box-sizing: border-box; padding: 1px 8px 1px 6px; background-color: rgb(27, 149, 224); color: rgb(255, 255, 255); border-radius: 3px; font-weight: 500; cursor: pointer; }
.rtl .btn { padding: 1px 6px 1px 8px; }
.btn:active, .btn:focus, .btn:hover { background-color: rgb(12, 122, 191); }
.btn:active { box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1) inset; }
.xl .btn:active { box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1) inset; }
.btn i { position: relative; top: 2px; display: inline-block; width: 14px; height: 14px; background: transparent url('svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%2') no-repeat scroll 0px 0px; }
.btn .label { margin-left: 3px; white-space: nowrap; }
.btn .label b { font-weight: 500; white-space: nowrap; }
.rtl .btn .label { margin-right: 3px; }
.rtl .btn .label b { display: inline-block; direction: ltr; }
.xl { font-size: 13px; line-height: 26px; }
.xl .btn { height: 28px; border-radius: 4px; padding: 1px 10px 1px 9px; }
.rtl.xl .btn { padding: 1px 9px 1px 10px; }
.xl .btn i { top: 4px; height: 18px; width: 18px; }
.xl .btn .label { margin-left: 4px; }
.rtl.xl .btn .label { margin-right: 4px; }
.aria { position: absolute; left: -999em; }
.rtl .aria { left: auto; right: -999em; }
.count-o { position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(135, 153, 166); border-radius: 3px; visibility: hidden; min-height: 18px; min-width: 15px; text-align: center; }
#count { white-space: nowrap; color: rgb(41, 47, 51); }
#count:focus, #count:hover { color: rgb(51, 51, 51); text-decoration: underline; }
.ncount .count-o { display: none; }
.count-ready .count-o { visibility: visible; }
.count-o i, .count-o u { position: absolute; line-height: 0; width: 0px; height: 0px; left: 0px; top: 50%; margin: -4px 0px 0px -4px; border-width: 4px 4px 4px 0px; border-style: solid solid solid none; border-color: transparent rgb(102, 117, 127) transparent currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.count-o u { margin-left: -3px; border-right-color: rgb(255, 255, 255); }
.rtl .count-o i, .rtl .count-o u { left: auto; right: 0px; margin: -4px -4px 0px 0px; border-width: 4px 0px 4px 4px; border-style: solid none solid solid; border-color: transparent currentcolor transparent rgb(102, 117, 127); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.rtl .count-o u { margin-right: -3px; border-left-color: rgb(255, 255, 255); }
.hcount .count-o { margin: 0px 0px 0px 5px; }
.hcount.rtl .count-o { margin: 0px 5px 0px 0px; }
.hcount #count { padding: 0px 5px; }
.xl .count-o { font-size: 11px; border-radius: 4px; }
.xl.hcount .count-o { margin: 0px 0px 0px 6px; }
.xl.rtl.hcount .count-o { margin: 0px 6px 0px 0px; }
.xl.hcount .count-o i, .xl.hcount .count-o u { margin: -5px 0px 0px -5px; border-width: 5px 5px 5px 0px; }
.xl.hcount .count-o u { margin-left: -4px; }
.xl.rtl.hcount .count-o i, .xl.rtl.hcount .count-o u { margin: -5px -5px 0px 0px; border-width: 5px 0px 5px 5px; }
.xl.rtl.hcount .count-o u { margin-right: -4px; }
.xl #count { padding: 0px 7px; }
